<style>.rij {
    clear: both;
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.kolom1,
.kolom3 {
    display: inline-block;
    width: 3em;
    background-color: lightgrey;
}

.kolom2 {
    display: inline-block;
    width: 15em;
    background-color: darkgrey;
}

</style>