body {
  font-family: sans-serif;
}

.knop {
  border: solid 1px black;
  width: 10em;
  display: inline-block;
  margin: 0.25em;
  padding: 0.2em;
}

.rij {
  border: 1px solid hsl(0, 12%, 50%);
  border-style: none none solid none;
  margin: 0;
  padding: 0.1em;
  display: block;
  width: 97vw;
  height: 1.6em;
  max-width: 600px;
  box-sizing: border-box;

}

.rij span {
  display: block;
  float: left;
  width: 33%;
  overflow: word-wrap;
  padding: 0.1em;
  box-sizing: border-box;

}

.kOdd {
  background-color: hsl(0,23%,70%);
  color: hsl(0,40%,20%);
}

label {
  display: inline-block;
  width: 10em;
}

#alert {
  color: hsl(0,40%,20%);
}